/* .service {
  width: 100%;
  min-height: 300px;
  position: relative;
  margin-top: 50px;
  padding-top: 250px;
  font-family: "Shippori Mincho", serif;
}

.title {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 70px;
  font-family: "Oswald", sans-serif;
}

.title > h1 {
  padding-left: 0px;
}

.c_scrollleft {
  width: 100px;
  height: 1px;
  overflow: hidden;
}

.c_line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to right, rgb(255, 0, 85) 50%, rgba(255, 255, 255, 0) 50%);
  background-position: -100px 0;
  background-size: 200% 100%;
  animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

@keyframes scrolldown {
  0% {
    background-position: -100px 0;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 0;
  }
}

.cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-items: center;
}

.box {
  position: relative;
  width: 380px;
  height: 420px;
  background: rgba(129, 116, 153, 0.192);
  border-radius: 0px;
  overflow: hidden;
}

.border_line {
  position: absolute;
  top: 0;
  inset: 0;
}

.border_line::before {
  position: absolute;
  content: "";
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ffffff,
    #ffffff,
    #ffffff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: anim 12s linear infinite;
  animation-delay: -3s;
}

.border_line::after {
  position: absolute;
  content: "";
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #0f7791,
    #0f7791,
    #0f7791
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: anim 12s linear infinite;
  animation-delay: -9s;
}

.inner {
  position: absolute;
  inset: 4px;
  break-before: 8px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0px;
}

.inputBox > .imgBox {
  height: 200px;
  width: 100%;
  border-radius: 0px;
  aspect-ratio: 1 / 1;
  background: #000000;
}

.imgBox img {
  width: 100%;
  height: 100%;
}

.inputBox > .text {
  width: 100%;
  height: 100%;
  text-align: center;
}

.text > h2 {
  margin-top: 20px;
  border-bottom: 1px solid #000000;
  width: fit-content;
  margin: 20px auto;
  padding: 3px 8px;
  color: #000000;
}
.text > p {
  padding: 10px;
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 1.7px;
  color: rgb(0, 0, 0);
}

.blue {
  color: #09bba4;
  font-weight: bold;
}

.more {
  margin: 0 auto;
  margin-top: 100px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  transition: 0.3s;
}
.more:hover {
  opacity: 0.7;
}

.more a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0f7791;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .box {
    width: 80%;
    min-width: 320px;
    height: 208px;
  }
  .inputBox {
    display: flex;
  }
  .text > p {
    padding: 10px;
    margin-top: 20px;
    font-size: 1.5vw;
    letter-spacing: 1.7px;
    color: rgb(0, 0, 0);
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 55px;
  }
  .service {
    padding-top: 150px;
  }
}

@media screen and (max-width: 600px) {
    .imgBox {
        position: absolute;
        width: 100%;
    }
    .text {
        position: absolute;
        width: 100%;
        z-index: 2;
        background-color: #ffffff69;
        backdrop-filter: blur(5px);
    }
    .text > p {
        padding: 10px;
        margin-top: 20px;
        font-size: 16px;
        letter-spacing: 1.7px;
        color: rgb(0, 0, 0);
      }
      .more {
        margin: 0 auto;
        margin-top: 50px;
        width: 80%;
        min-width: 320px;
      }
} */


.service {
  margin-top: 10vw;
}

.service_box {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  position: relative;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-auto-rows: 50vw;
  border: 1px solid #ffffff85;
  background-color: transparent;
}

.service_box:nth-child(2),
.service_box:nth-child(3){
  border-top: none;
}

.text {
  background-color: rgb(31, 31, 31);
  padding: 80px 44px;
  height: 100%;
  position: relative;
}

.text h3 {
  font-size: 4vw;
  margin-bottom: 40px;
}

.text p {
  font-size: 1.5vw;
}

.text a {
  display: block;
  width: 60%;
  min-width: 130px;
  background-color: rgb(108, 0, 0);
  padding: 10px 40px;
  margin-top: 10%;
  border-radius: 30px;
  position: relative;
  font-size: 20px;
}

.text a span {
  position: absolute;
  right: 5%;
  transition: all .1s ease-in-out;
}

.text a:hover span {
  transform: translateX(5px);
}

.img_card {
  background-color: #ffffff6f;
  position: relative;
}

.card {
  background-color: rgba(255, 255, 255, 0.623);
  width: 100%;
  height: 100%;
  position: relative;
}

.img_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 4;
  text-align: center;
}

.img_text h4 {
  font-size: 3vw;
}

.img_text p {
  font-size: 1.5vw;
}

.img_box {
  width: 100%;
  height: 100%;
}

.img_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      45deg,
      #000 25%,
      transparent 25%,
      transparent 75%,
      #000 75%,
      #000
    ),
    linear-gradient(
      -45deg,
      #000 25%,
      transparent 25%,
      transparent 75%,
      #000 75%,
      #000
    );
  background-size: 2px 2px;
  background-position: 0 0, 1px 1px;
  opacity: 0.8; /* この値を変更することで、マスクの透明度を調整できます */
  pointer-events: none;
  z-index: 2;
}

.img_box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000035;
  /* この値を変更することで、マスクの透明度を調整できます */
  pointer-events: none;
  z-index: 3;
  backdrop-filter: blur(3px);
}

.img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



@media screen and (max-width: 820px) {
  .text {
    padding: 20px;
  }

  .text a {
    min-width: 0;
    width: 90%;
    font-size: 16px;
    padding: 5px 20px;
  }
 }