.wrap {
    height: 100vh;
    margin: 10vw 0;

}

.title {
    font-family: "impact";
    margin-bottom: 50px;
    width: fit-content;
    text-align: center;
}

.title h2 {
    font-size: 64px;
}

.title span {
    font-size: 20px;
}