.Light {
    width: 100%;
    position: relative;
    padding-top: 150px;
    font-family: 'Shippori Mincho', serif; 
}

.title {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 70px;
    font-family: "Oswald", sans-serif;

}

.title > h1 {
    padding-left: 0px;
}

.c_scrollleft {
    width: 1px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    right: -20%;
    top: 50%;
  }

 .c_line {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0) 50%);
    background-position: 0 -100px ;
    background-size: 100% 200%;
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
  }

  @keyframes scrolldown {
    0% {
      background-position: 0 -100px ;
    }
    75% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 100px ;
    }
  }


.blog_list {
  width: 100%;
} 

.blog_list_title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 5px;
}

.blogs {
  width: 70%;
  min-width: 400px;
  margin: 0 auto;
}

.blogs > li {
  font-size: 20px;
  margin: 50px 0;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  gap: 20px;
  overflow: hidden;
}

.blogs > li > a  {
  display: block;
  min-width: 200px;
  transition: all .3s ease-in-out;
width: 100%;
padding-left: 5%;
white-space: nowrap;
overflow: hidden; /* Add this line */
text-overflow: ellipsis; /* Add this line */
}
.blogs > li > a:hover  {
  color: #acacac;
}

.more {
  margin: 0 auto;
  margin-top: 100px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  transition: .3s;
}

.more:hover {
  opacity: 0.7;
}

.more a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #0f7791;
  display: flex;
  align-items: center;
  justify-content: center;
}




.red {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
}
.blue {
  background-color: rgb(6, 6, 54);
  width: 100%;
  height: 100vh;
}
.data {
  color: #6cc;
}

@media screen and (max-width: 800px) { 
  .Light {
    padding-top: 100px;
}
  .blogs {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
  }
  .data {
    margin-bottom: 0px;
    color: #6cc;
    font-size: 1ß6px;
  }
  .blogs > li {
    display: flex;
    flex-flow: column;
    padding: 0 5%;
  }
  .blogs > li > a  {
    display: inline-block;
    width: 100%;
    min-width: none;
    transition: all .3s ease-in-out;
  }
  .title {
    font-size: 55px;
  }
}

@media screen and (max-width: 600px) {
  .blogs {
    width: 80%;
    min-width: 320px;
    margin: 0 auto;
  }
  .more {
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
    min-width: 320px;
  }
 }

@media screen and (max-width: 375px) {
  .Light {
    margin-top: 50px;
  }
  .blogs > li {
    padding: 0;
  }
  .blogs > li > a  {
    display: inline-block;
    width: 100%;
    transition: all .3s ease-in-out;
    font-size: 16px;
  }
 }