.contact {
  width: 100%;
  background: linear-gradient(to bottom, rgb(16, 4, 70), #000);
  padding-top: 250px;
}

.contact > h1 {
  font-size: 100px;
  text-align: center;
}

.imgs {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nextImg {
  width: 40%;
  min-width: 300px;
  height: auto;
  margin: 80px auto;
  border: 1px solid #6cc;
  box-shadow: 0 0 10px #6cc,
  0 0 5px inset rgb(219, 41, 79) ;
  position: relative;
}

.nextImg::after {
    position: absolute;
    content: "";
    top: 40%;
    right: 0;
    transform: translate(50%,-50%);
    height: 1px;
    width: 50%;
    background-color: rgb(219, 41, 79);
    box-shadow: 0 0 10px rgb(219, 41, 79);
}

.nextImg > img {
    position: absolute;
    top: 10%;
  width: 100%;
  height: auto;
}

.otherImg {
    width: 40%;
    min-width: 300px;
    height: auto;
    margin: 80px auto;
    border: 1px solid rgb(219, 41, 79);
    box-shadow: 0 0 10px rgb(219, 41, 79),
    0 0 5px inset #6cc;
    position: relative;
}

.otherImg::before {
    position: absolute;
    content: "";
    top: 60%;
    left: 0;
    transform: translate(-50%,-50%);
    height: 1px;
    width: 50%;
    background-color: #6cc;
    box-shadow: 0 0 10px #6cc;
    transition: .5s ease-in-out;
    animation: color6cc 3s infinite;
}

.otherImg > img {
    width: 100%;
    height: auto;
}

/*  */
/* From uiverse.io by @FrM-bot */
.next_container {
  min-width: 300px;
  width: 80%;
  max-width: 1000px;
  /* height: min-content; */
  transition: all .3s;
  position: relative;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
  margin: 40px auto 80px auto;
}
.cms_container {
  min-width: 300px;
  width: 80%;
  max-width: 1000px;
  /* height: min-content; */
  transition: all .3s;
  position: relative;
  border-radius: .5rem 2rem;
  box-shadow: 0px 15px 20px -5px rgba(0, 0, 0, 0.5);
  margin: 40px auto 80px auto;
}

.next_container:hover {
  transform: scale(1.01);
}

.cms_container:hover{
  transform: scale(1.01);
}

.next_img {
  transition: all .3s;
  background: #6cc;
  background: -webkit-linear-gradient(to right, #002733, rgb(78, 155, 155));
  background: linear-gradient(to right, #002733, rgb(78, 155, 155));
  width: 100%;
}

.next_img:hover {
  transform: scale(1.3);
}

.cms_img {
  transition: all .3s;
  background: #ff0084;
  background: -webkit-linear-gradient(to right, #33001a, #ff0084);
  background: linear-gradient(to right, #33001a, #ff0084);
  width: 100%;
}

.cms_img:hover {
  transform: scale(1.3);
}

.img_container {
  display: grid;
  height: 270px;
  overflow: hidden;
}

.desc {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  text-align: start;
  padding: .5rem 1em;
  /* width: 90%; */
  padding: 10px 40px;
  transition: all 0.5s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  backdrop-filter: blur(.1rem);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: .5rem 2rem;
}

.desc:hover {
  transform: perspective(100px) translateX(7px) rotateX(3deg) rotateY(3deg) scale(1);
  box-shadow: none;
}

.title {
  color: aliceblue;
}

.gifs {
    height: 50vh;
}

.img_container > .txt {
  position: absolute;
  left: -100px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all .5s ease-in-out;
  width: 100%;
  text-align: center;
}

.img_container:hover .txt {
  opacity: 1;
  left: 50%;
  transform: translate(-50%,-50%);
}
