.flow {
  position: relative;
  margin-top: 100px;
  padding-bottom: 40px;
  font-family: 'Shippori Mincho', serif; 

}

.title {
  position: absolute;
  top: 0px;
  left: 0px;
  writing-mode: vertical-rl;
  font-size: 70px;
  z-index: 0;
}

.c_scrolldown {
  width: 1px;
  height: 100px;
  position: absolute;
  top: 20px;
  left: 30px;
  overflow: hidden;
}

.c_line {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0) 50%);
  background-position: 0 -100px;
  background-size: 100% 200%;
  animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
}

@keyframes scrolldown {
  0% {
    background-position: 0 -100px;
  }
  75% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100px;
  }
}

.cards {
  padding-top: 100px;
  margin: 0 40px 0 auto;
  width: 80%;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}




.card {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 154px;
  background: rgb(19, 107, 100);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    z-index: 3;
    /* padding: 2%; */
}

.card:nth-child(1) {
  background: rgba(19, 134, 125, 0.548);
}

.card > span {
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 80px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.521);
  text-stroke: 2px rgb(0, 0, 0);
  z-index: 4;
}



.text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-family: 'Shippori Mincho', serif; 
}

.text > h2 {
  font-size: 20px;
}

.text > p {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 1028px) {
  .title {
    font-size: 55px;
  }

  .cards {
    width: 94%;
    margin: 0 auto;
  }

  .card {
    width: 100%;
    margin: 0;
    height: 254px;
  }
  .card:nth-child(8) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .flow {
    position: relative;
    margin-top: 100px;
    padding-bottom: 0px;
  }

  .card {
    height: 120px;
  }
}

@media screen and (max-width: 500px) {
  .cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
 }


 @media screen and (max-width: 375px) { 
  .flow {
    margin-top: 50px;
  }
 }