@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  color: rgb(0, 0, 0);
  background-color: #0cc;
}

html,
body {
  max-width: 1920px;
  overflow-x: hidden;
  color: #fff;
 font-family:  'Oswald', sans-serif;;
  /* font-family: 'Shippori Mincho', serif;  */
}

a {
  color: inherit;
  text-decoration: none;
}

li {
list-style: none;
}

img {
  vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.wrap {
  width: 100%;
  margin: 0 auto;
  background-color: #154647;
}

.bgChange {
  width: 100%;
  background: linear-gradient(to bottom, #154647 0% ,rgb(16, 4, 70) 100%);
}
.bgChange2 {
  width: 100%;
  background: linear-gradient(to bottom, rgb(16, 4, 70) 0%,#000 100% );
}
.bgChange3 {
  width: 100%;
  height: 100vh;
  background: #707070;
}

.inner {
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 1575px) {
  .inner {
    width: 94%;
  }
 }

.scroll {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 10px;
  margin-left: -30px;
  bottom: 0px;
  z-index: 5;
  display: flex;
  flex-flow: column;
  align-items: center;
}
 
.arrows {
  height: 100px;
  width: 100px;
}

.scroll p {
  color: #ff0000;
  font-size: 40px;
}

.arrows path {
  stroke: #ff0000;
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}

@media screen and (max-width: 1389px) {
  .arrows1{
    margin-left: 0;
    height: 0;
  }
 }

 @media screen and (max-width: 375px) { 
  .scroll p {
    display: none;
  }
  .scroll {
    width: 50px;
    height: auto;
    position: absolute;
    right: 10px;
    margin-left: 0px;
    bottom: 0px;
    z-index: 5;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .arrows path {
    height: 10px;
    width: 50px;
    stroke: rgb(2, 73, 73);
  }
  
 }

 .com {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-color: #154647;
  width: 100%;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
  background-image: url("/images/Plan/plan_bg.jpg");
  background-size: cover;
  background-position: center;
 }
 .com::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(10px);
 }