@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap');

@font-face {
  font-family: "ja-lp";  /* フォントに任意の名前を付けます */
  src: url("/font/Senobi-Gothic-Bold.ttf") ;  /* フォントファイルのパスを指定します */
  font-weight: 400;  /* フォントのウェイトを指定します */
  font-style: normal;  /* フォントのスタイルを指定します */
}

@font-face {
  font-family: "ja-lp-reg";
  src: url("/font/Senobi-Gothic-Regular.ttf");
}

/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;

}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */



/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

 img {
  vertical-align: top;
 }




::selection {
  color: rgb(0, 0, 0);
  background-color: #0cc;
}

html,
body {
  overflow-x: hidden;
  color: #fff;
 font-family:  'Oswald', sans-serif;;
 background-color: #191921;

  /* font-family: 'Shippori Mincho', serif;  */
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.wrap {
  max-width: 1920px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #191921;
  z-index: 2;
}


.inner {
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 100px;
}

@media screen and (max-width: 1575px) {
  .inner {
    width: 94%;
  }
 }
 

.scroll {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 10px;
  margin-left: -30px;
  bottom: 0px;
  z-index: 5;
}
 
.arrows {
  height: 70px;
  width: 70px;
}


.arrows path {
  stroke: rgb(2, 73, 73);
  fill: transparent;
  stroke-width: 1px;  
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
  animation-delay:-1s;
  -webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay:-0.5s;
  -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 { 
  animation-delay:0s;
  -webkit-animation-delay:0s; /* Safari 和 Chrome */
}


 

 .com {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background-color: #154647;
  width: 100%;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
  background-image: url("/images/Plan/plan_bg.jpg");
  background-size: cover;
  background-position: center;
 }
 .com::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(10px);
 }


