

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  color: rgb(0, 0, 0);
  background-color: #0cc;
}

html,
body {
  max-width: 1920px;
  /* overflow-x: hidden; */
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
list-style: none;
}

img {
  vertical-align: bottom;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.wrap {
  width: 100%;
  margin: 0 auto;
  background-color: #154647;
}

.bgChange {
  width: 100%;
  background: linear-gradient(to bottom, #154647 0% ,rgb(16, 4, 70) 100%);
}
.bgChange2 {
  width: 100%;
  background: linear-gradient(to bottom, rgb(16, 4, 70) 0%,#000 100% );
}
.bgChange3 {
  width: 100%;
  height: 100vh;
  background: #707070;
}

.inner {
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 1575px) {
  .inner {
    width: 94%;
  }
 }