.service {
    width: 100%;
    /* height: 40vw; */
    min-height: 300px;
    position: relative;
    margin-top: 50px;
    padding-top: 250px;
}

.title {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 70px;
}

.title > h1 {
    padding-left: 0px;
}

.c_scrollleft {
    width: 100px;
    height: 1px;
    overflow: hidden;
  }

 .c_line {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 50%);
    background-position: -100px 0 ;
    background-size: 200% 100%;
    animation: scrolldown 2.2s cubic-bezier(0.76, 0, 0.3, 1) forwards infinite;
  }

  @keyframes scrolldown {
    0% {
      background-position: -100px 0 ;
    }
    75% {
      background-position: 0 0;
    }
    100% {
      background-position: 100px 0 ;
    }
  }
  

.cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
}

.box {
    position: relative;
    width: 380px;
    height: 420px;
    background: rgba(129, 116, 153, 0.192);
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    position: absolute;
    content: "";
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: anim 6s linear infinite;
}
.box::after {
    position: absolute;
    content: "";
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: anim 6s linear infinite;
    animation-delay: -3s;
}

.border_line {
    position: absolute;
    top: 0;
    inset: 0;
}

.border_line::before {
    position: absolute;
    content: "";
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: anim 6s linear infinite;
    animation-delay: -1.5s;
}

.border_line::after {
    position: absolute;
    content: "";
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: anim 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes anim 
{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* .box:nth-child(2)::before,
.box:nth-child(2)::after 
 {
    background: linear-gradient(0deg,transparent,transparent,#45ff7d,#45ff7d,#45ff7d);
}
.box:nth-child(2) .border_line::before, 
.box:nth-child(2) .border_line::after  {
    background: linear-gradient(0deg,transparent,transparent,#ab45ff,#ab45ff,#ab45ff);
}

.box:nth-child(3)::before,
.box:nth-child(3)::after 
 {
     background: linear-gradient(0deg,transparent,transparent,#4586ff,#4577ff,#4586ff);
    }
    .box:nth-child(3) .border_line::before, 
    .box:nth-child(3) .border_line::after  {
        background: linear-gradient(0deg,transparent,transparent,#ffa845,#ffa845,#ffa845);
    } */

.inner {
    position: absolute;
    inset: 4px;
    break-before: 8px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.inputBox {
    position: relative;
    width: 100%;
    height: 100%;
} 

.inputBox > img {
    height: 200px;
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
}

.inputBox > .text {
    width: 100%;
    height: auto;
    margin-top: 25%;
    text-align: center;
}

.inputBox > span {
    display: block;
}