.contact {
  width: 100%;
  background: linear-gradient(to bottom, rgb(16, 4, 70), #000);
  background: linear-gradient(to bottom, #154647, rgb(16, 4, 70));
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  font-family: "Shippori Mincho", serif;
}

.contact::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 20px;
  box-shadow: 0 10px 10px rgba(16, 4, 70, 0.418);
}

.contact > h1 {
  font-size: 100px;
  text-align: center;
}

.imgs {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nextImg {
  width: 40%;
  min-width: 160px;
  height: auto;
  margin: 80px auto;
  border: 1px solid #6cc;
  box-shadow: 0 0 10px #6cc, 0 0 5px inset rgb(219, 41, 79);
  position: relative;
}

.nextImg::after {
  position: absolute;
  content: "";
  top: 40%;
  right: 0;
  transform: translate(50%, -50%);
  height: 1px;
  width: 50%;
  background-color: rgb(219, 41, 79);
  box-shadow: 0 0 10px rgb(219, 41, 79);
}

.nextImg > img {
  position: absolute;
  top: 10%;
  width: 100%;
  height: auto;
}

.otherImg {
  width: 40%;
  min-width: 160px;
  height: auto;
  margin: 80px auto;
  border: 1px solid rgb(219, 41, 79);
  box-shadow: 0 0 10px rgb(219, 41, 79), 0 0 5px inset #6cc;
  position: relative;
}

.otherImg::before {
  position: absolute;
  content: "";
  top: 60%;
  left: 0;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 50%;
  background-color: #6cc;
  box-shadow: 0 0 10px #6cc;
  transition: 0.5s ease-in-out;
  animation: color6cc 3s infinite;
}

.otherImg > img {
  width: 100%;
  height: auto;
}

/*  */
.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(to right, #004b58, #ff0084);
}

.container p {
  font-size: 20px;
}

.more {
  margin-left: auto;
  margin-top: 10px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  transition: .3s;
}
.more:hover {
  opacity: 0.7;
}

.more a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #8a555594;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .contact {
    width: 100%;
    padding-top: 60px;
  }
  .imgs {
    display: block;
  }

  .nextImg {
    width: 80%;
    min-width: 160px;
    height: auto;
    margin: 80px auto;
    border: 1px solid #6cc;
    box-shadow: 0 0 10px #6cc,
  0 0 5px inset rgb(219, 41, 79) ;
    position: relative;
    background-color: #002733;
  }
  .nextImg::after,.otherImg::before {
    position: absolute;
    content: "";
    display: none;
  }
  .nextImg > img {
    position: unset;
    width: 100%;
    height: auto;
  }
  .otherImg {
    width: 80%;
    height: auto;
    background-color: #002733;
  }
  .otherImg img {
    position: unset;
    height: auto;
    width: 100%;
  }
  .contact h1 {
    font-size: 45px;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #004b58, #ff0084);
  }
  .container p {
    font-size: 16px;
  }
  
}



@media screen and (max-width: 505px) {
  .contact {
    padding-bottom: 40px;
  }
  .nextImg {
    margin: 20px auto;
  }

  .otherImg {
    margin: 20px auto;
  }
}
