.wrap {
    background-image: linear-gradient(90deg, rgba(171, 176, 255, 1), rgba(255, 137, 179, 1) 19%, rgba(224, 216, 239, 1) 31%, rgba(216, 237, 255, 1) 61%);
    padding: 5%;
    font-family: "ja-lp";
    color: black;
}

.inner {
    margin-bottom: 50px;
    display: flex;
    background-image: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 220, 64, 1));
    border-radius: 50px 0 0 0;
    overflow: hidden;
}

.voices {
    width: 100%;
}



.voices h2{
    font-size: 3rem;
    background-color: rgb(56, 56, 56);
    color: #fff;
    padding: 10px 40px;
}


.voice {
    margin-top: 50px;
    margin-bottom: 50px;
}

.comment {
    position: relative;
    padding: 40px;
    background-color: #fff8ce;
    border-radius: 20px;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.comment::before{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    border-top: 15px solid #fff3ad;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
  }

  .user {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .user img {
    height: 50px;
    width: 50px;
  }



  .inner:nth-child(2) {
    border-radius: 0 50px 0 0;
    background-color: transparent;
    height: auto;
  }

  .inner:nth-child(2) .voices h2{
    font-size: 3rem;
    background-color: rgb(56, 56, 56);
    color: #fff;
    padding: 10px 40px;
    text-align: right;
}

.inner:nth-child(2) .imgs {
    width: 100%;
    display: flex;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
}

.adImg {
    height: 100%;
    width: 50%;
    overflow: hidden;
    min-width: 500px;
    padding: 20px;
}

.adImg img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.upImg {
    width: 50%;
    position: relative;
}

.upImg img {
    position: absolute;
    right: 10%;
    bottom: 0;
}

.upImg span {
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 30px;
}


.inner:nth-child(2) .up h3 {
    text-align: center;
    font-size: 3vw;
    margin-top: 40px;
    color: black;
    background-color: rgb(255, 238, 0);
}

.inner:nth-child(2) .up span {
    font-size: 3.5vw;
    color: rgb(255, 0, 85);
}

.inner:nth-child(2) h3:nth-child(2){
    display: none;
}



@media screen and (max-width: 794px) { 
    .inner {
        margin-bottom: 20px;
    }
    .voices h2,
    .inner:nth-child(2) .voices h2{
        font-size: 2rem;
        padding: 20px;
    }


    .voice {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .comment {
        padding: 20px;
        font-size: 18px;
    }

    .user {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    
}
@media screen and (max-width: 550px) {
    .inner:nth-child(2) .voices h2 {
        font-size: 1.2rem;
    }

 }

 @media screen and (max-width: 980px) { 
.upImg span {
    display: none;
}

 }

 @media screen and (max-width: 551px) {
    .upImg {
        display: none;
    }

.adImg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width: unset;
    padding: 20px;
    height: 250px;
}

.inner:nth-child(2) .imgs {
    width: 100%;
    display: flex;
    height: auto;
    overflow: hidden;
}

.inner:nth-child(2) .up h3 {
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    color: black;
    background-color: rgb(255, 238, 0);
}

.inner:nth-child(2) .up span {
    font-size: 1.5rem;
    color: rgb(255, 0, 85);
}


.inner:nth-child(2) h3:nth-child(2){
    display: block;
}
.inner:nth-child(2) h3:nth-child(1){
    display: none;
}

  }