.about {
  position: relative;
  width: 100%;
  font-family: "Shippori Mincho", serif;
}

.wrap {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 0 2vw;
}

.inner {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.left {
  width: 40%;
  position: relative;
}

.left h2 {
  width: auto;
  max-width: none;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-size: 77px;
  font-weight: 400;
  line-height: 1em;
  position: relative;
  z-index: 11;
}



.right {
  width: 60%;
  position: relative;
  z-index: 100;
}

.right h2 {
font-size: 24px;
text-transform: uppercase;

}

.right p {
  text-align: left;
  margin-top: 40px;
  font-size: 14px;
  line-height: 1.5em;;
}

.right a {
  width: auto;
  -webkit-text-fill-color: inherit;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  border: 1px solid #fff;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 40px;
  display: inline-block;
  position: relative;
  padding: 10px 20px;

}

@media screen and (max-width: 1024px) {
  .wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
  .inner {
    display: block;
  }
  .left {
    width: 100%;
  }
  .left h2 {
    font-size: 62px;
  }
  .left img {
    width: 60%;
    top: -30%;
  }
  .right{
    width: 100%;
    text-align: left;
    margin-top: 40px;
  }
  .right p {
    margin-top: 12px;
  }
 }

 @media screen and (max-width: 600px) {
  .left img {
    width: 80%;
    top: -10%;
  }
  }
 
  @media screen and (max-width: 490px) {
    .left h2 {
      font-size: 52px;
    }
   }