

.wrap {
  width: 94%;
  margin: 0 auto;
  margin-top: 50px;
}

.about_text {
  width: 70%;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #8d8d8d;
}

.left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
}

.left span {
  color: #c1c1c1;
}

.left h2 {
  font-size: 30px;
  font-weight: 600;
}

.left_txt p {
  letter-spacing: 2px;
  margin-bottom: 3px;
  line-height: 1.5;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
}

.right div a {
  display: flex;
  align-items: center;
}

.right div a {
  padding: 10px;
  letter-spacing: 3px;
  transition: all .3s ease-in-out;
}
.right div a:hover {
  letter-spacing: 1px;
  opacity: .7;
}

/* about_imgs ----------------------------------------------------------- */

.about_imgs {
  width: 100%;
  position: relative;
  height: 400px;
  margin-top: 100px;

}


.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 100%;
  overflow: hidden;
}


.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
}


.imgTitle {
  position: absolute;
  top: 20%;
  right: 0;
  z-index: 3;
}

.imgTitle h2 {
  font-size: 5rem;
  color: #c1c1c1;
  font-family: "Oswald";

}
.imgTitle p {
  font-size: 1rem;
  text-align: right;
  margin-top: 30px;
}

.inner {
  display: flex;
  width: 100%;
  margin-top: 40px;
}

/* 1280 */
@media screen and (max-width: 1280px) {
  .imageContainer {
    width: 100%;
  }
  
  .imageContainer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.265);
    height: 100%;
    width: 100%;
    z-index: 2;
  }

  .imgTitle h2 {
    font-size: 3rem;
    color: #c1c1c1;
  }

  .imgTitle p {
    font-size: 1rem;
    text-align: right;
    margin-top: 30px;
  }

  
  .imgTitle {
    padding: 10px;
  }
 }

 /* 794 */
 @media screen and (max-width: 794px) {

  .about_text {
    flex-direction: column;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  .about_imgs {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    height: 250px;
    margin-top: 50px;
  }


  .imgTitle h2 {
    font-size: 1.5rem;
  }

  .imgTitle p {
    font-size: 1rem;
    text-align: left;
    margin-top: 10px;
  }
  }

/* 1111 */
@media screen and (max-width: 1111px) { 
  .about_text {
    width: 100%;
  }

  .right {
    flex: 1;
    padding: 20px;
    align-items: flex-end;
  }
}

/* 600 */
@media screen and (max-width: 600px) { 
  .about_text {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    padding: 0 5px;
  }
}