

.mv {
  /* height: 100vh; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #000000;
}

.jcc{
  display: flex;
  justify-content: center;
}
